<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<main role="main" class="container">
    <div class="starter-template">

        <a href='/User/Register'>Register</a> | 


        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>

</body>
</html>
