
<style>
ul li {
    /* width:300px; */
    border: 1px solid gray;
    list-style-type: none;
    padding:10px;
    font-size:large;

}
li.regular {
    color:#31708f;
    background-color:#d9edf7

}
li.red {

    color:#a94442;
    background-color:#f2dede
}
@media only screen and (min-width: 768px) {
    ul {
        width:50%;margin:auto
    }
}
@media only screen and (max-width: 768px) {
    ul {
        margin:auto
    }
}
</style>


<ul class="list-group">
    <h5>TODAY TASKS</h5>
    <h4 [hidden]="_todayTasksArray.length>0 || _overdueTasksArray.length>0" style="color:#ff8000">
        No tasks in this area.
    </h4>
    <li *ngFor="let task of _overdueTasksArray" 
    (click)="onSelect(task)" class="list-group-item list-group-item-secondary">
    {{task.name}} 
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE" class="btn btn-success" style="width:45%">
        <input type="button" (click)="deleteTask()" value="DELETE" class="btn btn-danger" style="width:45%; float:right">
    </div>
    </li>

    <li *ngFor="let task of _todayTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}"> 
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}

    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="markTask()" value="HIGHLIGHT" class="btn btn-info btn-block" style="margin-bottom: 10px">
        <input type="button" (click)="completeTask()" value="DONE" class="btn btn-success" style="width:45%">
        <input type="button" (click)="deleteTask()" value="DELETE" class="btn btn-danger" style="width:45%; float:right">
    </div>
    </li>
</ul>
<br>

<ul class="list-group">
    <h5>WEEK TASKS</h5>
    <h4 [hidden]="_weekTasksArray.length>0" style="color:#ff8000">
        No tasks in this area.
    </h4>

    <li *ngFor="let task of _weekTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}">
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="markTask()" value="HIGHLIGHT" class="btn btn-info btn-block" style="margin-bottom: 10px">
        <input type="button" (click)="completeTask()" value="DONE" class="btn btn-success" style="width:45%">
        <input type="button" (click)="deleteTask()" value="DELETE" class="btn btn-danger" style="width:45%; float:right">
    </div>
    </li>
</ul>
<br>

<ul class="list-group">
    <h5>FURTHER TASKS</h5>
    <h4 [hidden]="_otherTasksArray.length>0" style="color:#ff8000">
    No tasks in this area.
    </h4>

    <li *ngFor="let task of _otherTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}">
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="markTask()" value="HIGHLIGHT" class="btn btn-info btn-block" style="margin-bottom: 10px">
        <input type="button" (click)="completeTask()" value="DONE" class="btn btn-success" style="width:45%">
        <input type="button" (click)="deleteTask()" value="DELETE" class="btn btn-danger" style="width:45%; float:right">
    </div>
    </li>
</ul>


