<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<main role="main" class="container">
    <div class="starter-template">

        <a href='/User/Register'>Register</a> | 

        <!-- Show 'Logout' and user name if authenticated. -->
        <%if (reqInfo.authenticated) { %>
          <a href='/User/Logout'>Logout</a> [<%= reqInfo.username %>]

        <!-- 'else' must be in separate section with curly brackets to work. -->
        <% } else { %>
          <a href='/User/Login'>Login</a>
        <% } %>

        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>

</body>
</html>
